<div class="grid rounded-2 p-2 bg-light">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link d-flex align-items-center" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                <fa-icon class="nav-icon me-3" icon="home"></fa-icon>
                <div class="text-secondary">Home</div>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link d-flex align-items-center" routerLink="/search" routerLinkActive="active">
              <fa-icon class="nav-icon me-3" icon="search"></fa-icon>
              <div class="text-secondary">Search</div>
            </a>
          </li>
    </ul>
</div>