@import '../style/variables.scss';

.main-row-height {
    height: $main-row-height;
}

.main-content-full-height {
    height: $main-content-height;
}

.toast-container {
    bottom: 13%;
    right: 35%;
}