<div (mouseover)="onHoverPlay(true)" (mouseleave)="onHoverPlay(false)">
    <div class="card-body">
        <img class="card-img-top card-img-bottom" [src]="'data:' + songToDisplay.coverContentType + ';base64,' + songToDisplay.cover" alt="Cover">
        <h5 class="title mt-3">{{songToDisplay.title?.value}}</h5>
        <p class="author">{{songToDisplay.author?.value}}</p>
    </div>
    @if (songToDisplay.displayPlayIcon) {
        <div class="play position-absolute d-flex align-items-center" [@inOutAnimation]>
            <fa-icon class="text-primary" [icon]="'circle-play'"></fa-icon>
        </div>
    }
</div>